:root {
  --bhds-borders-radius-none: 0;
  --bhds-borders-radius-sm: 0.125rem;
  --bhds-borders-radius-md: 0.375rem;
  --bhds-borders-radius-lg: 0.5rem;
  --bhds-borders-radius-xl: 0.75rem;
  --bhds-borders-radius-2xl: 1rem;
  --bhds-borders-radius-3xl: 1.5rem;
  --bhds-borders-radius-full: 9999px;
  --bhds-borders-width-0: 0px;
  --bhds-borders-width-1: 1px;
  --bhds-borders-width-2: 2px;
  --bhds-borders-width-4: 4px;
  --bhds-borders-width-8: 8px;
  --bhds-breakpoints-sm: 640px;
  --bhds-breakpoints-md: 768px;
  --bhds-breakpoints-lg: 1024px;
  --bhds-breakpoints-xl: 1280px;
  --bhds-breakpoints-2xl: 1536px;
  --bhds-colors-common-white: #ffffff;
  --bhds-colors-common-black: #000000;
  --bhds-colors-common-transparent: rgba(255,255,255,0);
  --bhds-colors-gray-25: #fafafa;
  --bhds-colors-gray-50: #f2f2f2;
  --bhds-colors-gray-100: #dddddd;
  --bhds-colors-gray-200: #c8c8c8;
  --bhds-colors-gray-300: #b3b3b3;
  --bhds-colors-gray-400: #8c8c8c;
  --bhds-colors-gray-500: #808080;
  --bhds-colors-gray-600: #707070;
  --bhds-colors-gray-700: #464646;
  --bhds-colors-gray-800: #333333;
  --bhds-colors-gray-850: #141823;
  --bhds-colors-blue-25: #f7fbfd;
  --bhds-colors-blue-50: #ebf4fa;
  --bhds-colors-blue-100: #d7eaf4;
  --bhds-colors-blue-200: #afd5e9;
  --bhds-colors-blue-300: #87c0de;
  --bhds-colors-blue-400: #5fabd3;
  --bhds-colors-blue-500: #3796c8;
  --bhds-colors-blue-600: #2c78a0;
  --bhds-colors-blue-700: #215a78;
  --bhds-colors-blue-800: #1a475f;
  --bhds-colors-blue-850: #102d3c;
  --bhds-colors-yellow-25: #fefcf5;
  --bhds-colors-yellow-50: #fdf8e7;
  --bhds-colors-yellow-100: #fcf1cf;
  --bhds-colors-yellow-200: #f9e39f;
  --bhds-colors-yellow-300: #f6d56f;
  --bhds-colors-yellow-400: #f2c840;
  --bhds-colors-yellow-500: #f0bd1b;
  --bhds-colors-yellow-600: #bf950d;
  --bhds-colors-yellow-700: #907009;
  --bhds-colors-yellow-800: #604a06;
  --bhds-colors-yellow-850: #483805;
  --bhds-colors-red-25: #fef3f3;
  --bhds-colors-red-50: #fde7e7;
  --bhds-colors-red-100: #fbd0d0;
  --bhds-colors-red-200: #f7a1a1;
  --bhds-colors-red-300: #f47171;
  --bhds-colors-red-400: #f04242;
  --bhds-colors-red-500: #d21111;
  --bhds-colors-red-600: #bd0f0f;
  --bhds-colors-red-700: #8e0b0b;
  --bhds-colors-red-800: #5e0808;
  --bhds-colors-red-850: #470606;
  --bhds-colors-green-25: #fafcf8;
  --bhds-colors-green-50: #f1f7ee;
  --bhds-colors-green-100: #e4efdc;
  --bhds-colors-green-200: #c9dfb9;
  --bhds-colors-green-300: #adce97;
  --bhds-colors-green-400: #92be74;
  --bhds-colors-green-500: #74aa50;
  --bhds-colors-green-600: #5f8b41;
  --bhds-colors-green-700: #476831;
  --bhds-colors-green-800: #304521;
  --bhds-colors-green-850: #243418;
  --bhds-colors-purple-25: #fcfcfd;
  --bhds-colors-purple-50: #f2eff5;
  --bhds-colors-purple-100: #e4dfec;
  --bhds-colors-purple-200: #c9c0d8;
  --bhds-colors-purple-300: #afa0c5;
  --bhds-colors-purple-400: #907caf;
  --bhds-colors-purple-500: #7e649a;
  --bhds-colors-purple-600: #6d4d85;
  --bhds-colors-purple-700: #5b3570;
  --bhds-colors-purple-800: #382145;
  --bhds-colors-purple-900: #2a1934;
  --bhds-colors-orange-25: #fef9f6;
  --bhds-colors-orange-50: #fcf1e9;
  --bhds-colors-orange-100: #f9e3d2;
  --bhds-colors-orange-200: #f2c6a6;
  --bhds-colors-orange-300: #ecaa79;
  --bhds-colors-orange-400: #e68d4c;
  --bhds-colors-orange-500: #dc6f1f;
  --bhds-colors-orange-600: #b35a19;
  --bhds-colors-orange-700: #864413;
  --bhds-colors-orange-800: #592d0d;
  --bhds-colors-orange-850: #432209;
  --bhds-colors-gold-25: #fffdfa;
  --bhds-colors-gold-50: #fff7e5;
  --bhds-colors-gold-100: #fff0cc;
  --bhds-colors-gold-200: #ffe099;
  --bhds-colors-gold-300: #ffd166;
  --bhds-colors-gold-400: #ffc133;
  --bhds-colors-gold-500: #f2a900;
  --bhds-colors-gold-600: #cc8e00;
  --bhds-colors-gold-700: #996b00;
  --bhds-colors-gold-800: #664700;
  --bhds-colors-gold-850: #4d3500;
  --bhds-colors-emerald-25: #fbfdfc;
  --bhds-colors-emerald-50: #e5f4ec;
  --bhds-colors-emerald-100: #c0e4d1;
  --bhds-colors-emerald-200: #97d3b4;
  --bhds-colors-emerald-300: #6bc398;
  --bhds-colors-emerald-400: #47b783;
  --bhds-colors-emerald-500: #15aa6e;
  --bhds-colors-emerald-600: #0d9b63;
  --bhds-colors-emerald-700: #048956;
  --bhds-colors-emerald-800: #01784a;
  --bhds-colors-emerald-850: #005835;
  --bhds-colors-teal-25: #fbfdfe;
  --bhds-colors-teal-50: #ebf7fa;
  --bhds-colors-teal-100: #d6f0f5;
  --bhds-colors-teal-200: #ade0eb;
  --bhds-colors-teal-300: #95d7e5;
  --bhds-colors-teal-400: #75c3d8;
  --bhds-colors-teal-500: #54afcb;
  --bhds-colors-teal-600: #3e92aa;
  --bhds-colors-teal-700: #277489;
  --bhds-colors-teal-800: #17434f;
  --bhds-colors-teal-900: #11323c;
  --bhds-semantic-action-primary-background-default: #f0bd1b;
  --bhds-semantic-action-primary-background-hover: #f2c840;
  --bhds-semantic-action-primary-foreground-default: #1a475f;
  --bhds-semantic-action-secondary-background-default: #ffffff;
  --bhds-semantic-action-secondary-background-hover: #f7fbfd;
  --bhds-semantic-action-secondary-foreground-default: #215a78;
  --bhds-semantic-action-secondary-border-default: #b3b3b3;
  --bhds-semantic-action-tertiary-background-default: rgba(255,255,255,0);
  --bhds-semantic-action-tertiary-background-hover: #f7fbfd;
  --bhds-semantic-action-tertiary-foreground-default: #215a78;
  --bhds-semantic-action-destructive-background-default: #d21111;
  --bhds-semantic-action-destructive-background-hover: #bd0f0f;
  --bhds-semantic-action-destructive-foreground-default: #ffffff;
  --bhds-semantic-feedback-info-background: #f7fbfd;
  --bhds-semantic-feedback-info-foreground: #215a78;
  --bhds-semantic-feedback-info-border: #87c0de;
  --bhds-semantic-feedback-success-background: #fafcf8;
  --bhds-semantic-feedback-success-foreground: #476831;
  --bhds-semantic-feedback-success-border: #adce97;
  --bhds-semantic-feedback-warning-background: #fefcf5;
  --bhds-semantic-feedback-warning-foreground: #907009;
  --bhds-semantic-feedback-warning-border: #f6d56f;
  --bhds-semantic-feedback-error-background: #fef3f3;
  --bhds-semantic-feedback-error-foreground: #8e0b0b;
  --bhds-semantic-feedback-error-border: #f47171;
  --bhds-semantic-input-background-default: #ffffff;
  --bhds-semantic-input-background-hover: #fafafa;
  --bhds-semantic-input-background-error: #fef3f3;
  --bhds-semantic-input-border-default: #8c8c8c;
  --bhds-semantic-input-border-hover: #808080;
  --bhds-semantic-input-border-error: #d21111;
  --bhds-semantic-input-border-focus: #215a78;
  --bhds-semantic-input-foreground-default: #333333;
  --bhds-semantic-input-foreground-placeholder: #707070;
  --bhds-semantic-surface-default: #ffffff;
  --bhds-semantic-surface-subtle: #fafafa;
  --bhds-semantic-surface-muted: #f2f2f2;
  --bhds-semantic-text-heading: #141823;
  --bhds-semantic-text-body: #333333;
  --bhds-semantic-text-secondary: #464646;
  --bhds-semantic-text-muted: #707070;
  --bhds-semantic-text-link: #215a78;
  --bhds-semantic-text-error: #d21111;
  --bhds-semantic-accent-blue-subtle: #ebf4fa;
  --bhds-semantic-accent-blue-foreground: #215a78;
  --bhds-semantic-accent-yellow-subtle: #fdf8e7;
  --bhds-semantic-accent-yellow-foreground: #907009;
  --bhds-semantic-accent-green-subtle: #f1f7ee;
  --bhds-semantic-accent-green-foreground: #476831;
  --bhds-semantic-accent-red-subtle: #fde7e7;
  --bhds-semantic-accent-red-foreground: #8e0b0b;
  --bhds-semantic-accent-teal-subtle: #ebf7fa;
  --bhds-semantic-accent-teal-foreground: #277489;
  --bhds-semantic-accent-purple-subtle: #f2eff5;
  --bhds-semantic-accent-purple-foreground: #5b3570;
  --bhds-semantic-accent-orange-subtle: #fcf1e9;
  --bhds-semantic-accent-orange-foreground: #864413;
  --bhds-semantic-accent-gray-subtle: #f2f2f2;
  --bhds-semantic-accent-gray-foreground: #464646;
  --bhds-semantic-state-checked-background: #215a78;
  --bhds-semantic-state-checked-foreground: #ffffff;
  --bhds-semantic-state-unchecked-background: #dddddd;
  --bhds-semantic-state-unchecked-foreground: #707070;
  --bhds-semantic-sidebar-background: #ffffff;
  --bhds-semantic-sidebar-foreground: #333333;
  --bhds-semantic-sidebar-primary: #141823;
  --bhds-semantic-sidebar-primary-foreground: #ffffff;
  --bhds-semantic-sidebar-accent: #ebf4fa;
  --bhds-semantic-sidebar-accent-foreground: #215a78;
  --bhds-semantic-sidebar-border: #dddddd;
  --bhds-semantic-sidebar-ring: #3796c8;
  --bhds-shadows-sm: 0 1px 2px 0 rgba(20,24,35,0.05);
  --bhds-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --bhds-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --bhds-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --bhds-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --bhds-shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --bhds-shadows-none: 0 0 #0000;
  --bhds-shadows-focus: 0px 0px 0px 2px #215a78;
  --bhds-spacing-0: 0;
  --bhds-spacing-1: 0.25rem;
  --bhds-spacing-2: 0.5rem;
  --bhds-spacing-3: 0.75rem;
  --bhds-spacing-4: 1rem;
  --bhds-spacing-5: 1.25rem;
  --bhds-spacing-6: 1.5rem;
  --bhds-spacing-7: 1.75rem;
  --bhds-spacing-8: 2rem;
  --bhds-spacing-9: 2.25rem;
  --bhds-spacing-10: 2.5rem;
  --bhds-spacing-11: 2.75rem;
  --bhds-spacing-12: 3rem;
  --bhds-spacing-14: 3.5rem;
  --bhds-spacing-16: 4rem;
  --bhds-spacing-20: 5rem;
  --bhds-spacing-24: 6rem;
  --bhds-spacing-28: 7rem;
  --bhds-spacing-32: 8rem;
  --bhds-spacing-36: 9rem;
  --bhds-spacing-40: 10rem;
  --bhds-spacing-44: 11rem;
  --bhds-spacing-48: 12rem;
  --bhds-spacing-52: 13rem;
  --bhds-spacing-56: 14rem;
  --bhds-spacing-60: 15rem;
  --bhds-spacing-64: 16rem;
  --bhds-spacing-72: 18rem;
  --bhds-spacing-80: 20rem;
  --bhds-spacing-96: 24rem;
  --bhds-spacing-px: 1px;
  --bhds-spacing-0.5: 0.125rem;
  --bhds-spacing-1.5: 0.375rem;
  --bhds-spacing-2.5: 0.625rem;
  --bhds-spacing-3.5: 0.875rem;
  --bhds-spacing-4.5: 1.125rem;
  --bhds-typography-fontFamily-sans: var(--font-sans, 'Mulish', ui-sans-serif, system-ui, sans-serif);
  --bhds-typography-fontFamily-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bhds-typography-fontSize-xs: 0.75rem;
  --bhds-typography-fontSize-sm: 0.875rem;
  --bhds-typography-fontSize-base: 1rem;
  --bhds-typography-fontSize-lg: 1.125rem;
  --bhds-typography-fontSize-xl: 1.25rem;
  --bhds-typography-fontSize-2xl: 1.5rem;
  --bhds-typography-fontSize-3xl: 1.875rem;
  --bhds-typography-fontSize-4xl: 2.25rem;
  --bhds-typography-fontSize-5xl: 3rem;
  --bhds-typography-fontSize-6xl: 3.75rem;
  --bhds-typography-fontSize-7xl: 4.5rem;
  --bhds-typography-fontSize-8xl: 6rem;
  --bhds-typography-fontSize-9xl: 8rem;
  --bhds-typography-fontWeight-thin: 100;
  --bhds-typography-fontWeight-extralight: 200;
  --bhds-typography-fontWeight-light: 300;
  --bhds-typography-fontWeight-normal: 400;
  --bhds-typography-fontWeight-medium: 500;
  --bhds-typography-fontWeight-semibold: 600;
  --bhds-typography-fontWeight-bold: 700;
  --bhds-typography-fontWeight-extrabold: 800;
  --bhds-typography-fontWeight-black: 900;
  --bhds-typography-lineHeight-3: 0.75rem;
  --bhds-typography-lineHeight-4: 1rem;
  --bhds-typography-lineHeight-5: 1.25rem;
  --bhds-typography-lineHeight-6: 1.5rem;
  --bhds-typography-lineHeight-7: 1.75rem;
  --bhds-typography-lineHeight-8: 2rem;
  --bhds-typography-lineHeight-9: 2.25rem;
  --bhds-typography-lineHeight-10: 2.5rem;
  --bhds-typography-lineHeight-none: 1;
  --bhds-typography-lineHeight-tight: 1.25;
  --bhds-typography-lineHeight-snug: 1.375;
  --bhds-typography-lineHeight-normal: 1.5;
  --bhds-typography-lineHeight-relaxed: 1.625;
  --bhds-typography-lineHeight-loose: 2;
  --bhds-typography-letterSpacing-tighter: -0.05em;
  --bhds-typography-letterSpacing-tight: -0.025em;
  --bhds-typography-letterSpacing-normal: 0em;
  --bhds-typography-letterSpacing-wide: 0.025em;
  --bhds-typography-letterSpacing-wider: 0.05em;
  --bhds-typography-letterSpacing-widest: 0.1em;
  --bhds-semantic-state-disabled-subtle-background: #f2f2f2;
  --bhds-semantic-state-disabled-border: #c8c8c8;
  --bhds-semantic-state-disabled-foreground: #707070;
}
